<div class="container">
{{#each}}
  <div class="post-list">
    <div class="post">
      <div class="post-header">
        <a class="title" {{bindAttr href=link}}>{{title}}</a>
        <span class="domain">{{domain}}</span>
        <span class="time">{{timeAgo}}</span>
      </div>
    </div>
  </div>
{{else}}
  <p>No posts yet</p>
{{/each}}
</div>
